body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body-wrapper{
  padding: 0 2.5rem;
}
.intro{
  margin: 2.5rem 0;
  background-color: #25433f;
  max-height: 410px;
}
.intro-img{
  background-position: 100% top;
  display: block;
  left: 0;
  right: 0;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.big-intro{

}
.sm-intro{

}
.adv-img-left{
  padding: 0 !important;
  margin-top: 5rem;
}
.adv-img-right{
  padding: 0 !important;
  margin-top: 5rem;
}
.more-adv h1{
  margin-top: 5rem;
  text-align: center;
}
